<div id="comic-book" class="comic-book">
  <div id="comic-cover">
    <img src="images/coverMankiller.png" alt="Comic Cover" />
  </div>
  <!-- <div id="comic-1" class="inactive">
    <img src="images/panel1.jpg" alt="Comic Page 1" />
  </div>
  <div id="comic-2" class="inactive">
    <img src="images/panel2.jpg" alt="Comic Page 2" />
  </div>
  <div id="comic-3" class="inactive">
    <img src="images/panel3.jpg" alt="Comic Page 3" />
  </div>
  <div id="comic-4" class="inactive">
    <img src="images/panel4.jpg" alt="Comic Page 4" />
  </div>
  <div id="comic-5" class="inactive">
    <img src="images/panel5.jpg" alt="Comic Page 5" />
  </div>
  <div id="comic-6" class="inactive">
    <img src="images/panel6.jpg" alt="Comic Page 6" />
  </div> -->
  <div id="comic-footer">
    <img src="images/buttonfooter.jpg" />
  </div>
</div>
