<div id="comic-book-screen" class="comic-book app-screen">
  <div id="page-flip"></div>
  <div id="comic-pages"></div>

  <img id="comic-footer" class="footer" src="images/ui/footerBook.webp" />
</div>
