<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <style>
      @font-face {
        font-family: "Gotham";
        src: url("/fonts/Gotham-Medium.eot");
        src: url("/fonts/Gotham-Medium.eot") format("embedded-opentype"),
          url("/fonts/Gotham-Medium.woff2") format("woff2"),
          url("/fonts/Gotham-Medium.woff") format("woff"),
          url("/fonts/Gotham-Medium.ttf") format("truetype");
      }

      :root {
        --text: #121212;
        --muted: #666;
      }

      html,
      body {
        height: 100%;
        font-size: 14px;
      }
      body {
        margin: 0;
        font-family: "Gotham", Arial, sans-serif;
        color: var(--text);
      }

      .muted {
        color: var(--muted);
        font-size: 0.8rem;
        margin: 0;
      }

    </style>
  </head>
  <body>
    <div id="container" style="margin-left: 5dvw;
    max-width: 90dvw;
    display: flex;
    flex-direction: column;align-items:center;">
      <div id="instructions" style="margin-top:10px;margin-bottom:10px;">Don't forget to save your selfie before leaving the page!</div>
      <div id="image-container" style="max-height: 80dvh;
    max-width: inherit;">
        <img id="image" src="<%= imagePath %>" style="max-height: 80dvh;
    max-width: inherit;"/>
      </div>
      <div id="closer">
        <p>#famok | <a href="https://famok.org">Visit the FAM website</a></p>
        <p class="muted">This image is only available on the FAM guest wifi network and
          expires <span id="expiration-date">in two days</span>.</p>
      </div>
    </div>
    <script>
      let isMobile = {
        Android: function () {
          return navigator.userAgent.match(/Android/i);
        },
        iOS: function () {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
      };
      if (isMobile.Android()) {
        document.getElementById("instructions").textContent =
          'Save your selfie! Tap and hold on the image and select "Download Image".';
      } else if (isMobile.iOS()) {
        document.getElementById("instructions").textContent =
          'Save your selfie! Tap and hold on the image and select "Save to Photos".';
      }

      const expirationDate = new Date();
      expirationDate.setDate(expirationDate.getDate() + 2);
      document.getElementById("expiration-date").textContent =
        expirationDate.toLocaleDateString();
    </script>
  </body>
</html>
