<div id="figure-select-screen" class="has-background app-screen active">
  <div id="figure-carousel" class="figure-carousel-container show">
    <% figureData.forEach((figure, index) => { %>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="<%= figure.cutout %>" />
      </div>
    </div>
    <% }); %>
  </div>

  <div id="text-carousel" class="text-carousel-container show">
    <% figureData.forEach((figure, index) => { %>
    <div class="carousel-text">
      <img src="<%= figure.text %>" />
    </div>
    <% }); %>
  </div>

  <div id="figure-footer" class="footer">
    <img src="/images/ui/figureFooter.png" />
  </div>
</div>
