<div id="figure-select-screen" class="has-background">
  <div id="figure-carousel" class="figure-carousel-container show">
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutMankiller.png" />
      </div>
    </div>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutChouteau.png" />
      </div>
    </div>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutHarjo.png" />
      </div>
    </div>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutHerrington.png" />
      </div>
    </div>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutStandingBear.png" />
      </div>
    </div>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutPlaceholder1.png" />
      </div>
    </div>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <img src="/images/cutoutPlaceholder2.png" />
      </div>
    </div>
  </div>

  <div id="text-carousel" class="text-carousel-container show">
    <div class="carousel-text">
      <img src="/images/carouselText3.png" />
    </div>
    <div class="carousel-text">
      <img src="/images/carouselText2.png" />
    </div>
    <div class="carousel-text">
      <img src="/images/carouselText3.png" />
    </div>
    <div class="carousel-text">
      <img src="/images/carouselText2.png" />
    </div>
    <div class="carousel-text">
      <img src="/images/carouselText3.png" />
    </div>
    <div class="carousel-text">
      <img src="/images/carouselText2.png" />
    </div>
    <div class="carousel-text">
      <img src="/images/carouselText3.png" />
    </div>
  </div>

  <div id="figure-footer" class="footer show">
    <img src="/images/figurebuttonfooter.jpg" />
  </div>
</div>
