<div id="figure-select-screen" class="app-screen active">
  <div id="figure-carousel" class="figure-carousel-container show">
    <% figureData.forEach((figure, index) => { %>
    <div class="figure-transform-wrapper">
      <div class="figure-scale-wrapper">
        <% if (figure.name === "chouteau_yvonne" || figure.name ===
        "west_richard" || figure.name === "harjo_joy" || figure.name === "standing_bear" || figure.name === "starr_arigon") { %>
        <img src="<%= figure.cutout %>" />
        <% } else { %>
        <img src="<%= figure.cutoutComingSoon %>" />
        <% } %>
      </div>
    </div>
    <% }); %>
  </div>

  <div id="text-carousel" class="text-carousel-container show">
    <% figureData.forEach((figure, index) => { %>
    <div class="carousel-text">
      <img src="<%= figure.text %>" />
    </div>
    <% }); %>
  </div>

  <div id="figure-footer" class="footer">
    <img src="images/ui/footerSelector.webp" />
  </div>
</div>
