<div id="photo-booth-screen" class="photo-booth-screen has-background">
  <canvas id="canvas-element"> </canvas>
  <div id="video-container" class="video-container">
    <div class="countdown" id="countdown"></div>
    <video autoplay="true" id="video-element" class="video-element"></video>
    <div class="spinner" id="spinner"></div>
  </div>
</div>
