<div id="photo-review-screen" class="app-screen photo-review-screen">
  <img
    id="photo-review-background"
    style="position: absolute; left: 0; top: 0; z-index: 2"
  />

  <img
    id="edited-photo"
    src=""
    class="edited-photo"
  />
  <canvas id="qr-code" class="qr-code"></canvas>
  <img
    src="images/ui/footerSelfieReview.png"
    id="photo-footer"
    class="footer"
  />
</div>
