<div id="photo-preview-screen" class="photo-preview-screen app-screen">
  <img id="photo-preview-background" />
  <div id="video-container" class="video-container">
    <canvas id="canvas-element"> </canvas>
    <img id="selfie-cutout" />
    <div class="countdown" id="countdown"></div>
    <video autoplay="true" id="video-element"></video>
  </div>
  <div id="spinner-container">
    <img id="spinner" src="/images/ui/spinner.webp" style="display: none" />
  </div>
  <img src="/images/ui/photoFooter.png" id="photo-footer" class="footer" />
</div>
