<div id="photo-review-screen" class="app-screen">
  <img
    id="photo-review-background"
    style="position: absolute; left: 0; top: 0; z-index: 2"
  />

  <img
    id="edited-photo"
    src=""
    style="position: absolute;
    left: 883px;
    top: 862px;
    width: 1080px;
    z-index: 5;"
  />
  <canvas id="qr-code"></canvas>
  <img
    src="images/ui/footerSelfieReview.png"
    id="photo-footer"
    class="footer"
  />
</div>
